.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-title {
  text-align: center;
  color: #e1e2e1;
}
.splash-header {
  background-color: #3b4ba5;
  height: 75px;
}
.splash-body {
  background-color: #e1e2e1;
  height: 100%;
}
.row.splash-body {
  height: 100%;
}
button.ui.blue.button.splash-btn {
  display: block;
  margin: 15px auto;
}
.ui.buttons.splash-btn {
  margin: 45px auto;
  width: 100%;
}
.splash-img-container {
  width: 75%;
  margin: 15px auto;
  padding: 11%;
}
.splash-top {
  background-color: #052576;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.column.title-cell {
  text-align: center;
  background-color: #3b4ba5;
  color: #e1e2e1;
}
